@CHARSET "UTF-8";

body, head{
	font-family: arial, serif;
}

a{
	display: block;
	margin: 10px;
	padding: 0px;
	border: 0px;
}


h1{
	color : white;
	background-color:#666666;
	padding: 7px 10px 7px 10px;
}

.button{
	font-family: "UniversLTStdCondensed", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding: 7px 10px 7px 10px;
	background: #78be20;
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 1px;
	
	border-radius: 5px;
}

.button:hover{
	color: #FFFFFF;
	background: #86d424;
	text-decoration: none;
	cursor: pointer;    
}

select{
	color: black;	
}

.panels{	
	background-color:#0a9ed3;
	border-bottom: 7px solid #78be20;
	border-top: 7px solid #78be20;
	color: white;
}

.margin{
	margin-left: 100px;
}

.whitespace{
	top: 5px;
 	left: 5px;
  	right: 5px;
  	bottom: 5px;
 	border: 10px solid white;
	height = 104px;
	background-color: solid white;
}

.nav-main{
	width: 100%
	
}

.dropdownbutton{
	font-family: "UniversLTStdCondensed", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding: 7px 10px 7px 10px;
	background: #78be20;
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 1px;
	
	border-radius: 0px !important;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.dropdownmenu {
	font-family: "UniversLTStdCondensed", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	/*padding: 7px 10px 7px 10px;*/
	background: #78be20;
	display: inline-block;
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 1px;

	overflow:hidden;
	width:100%;
	background: url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 96% center;

}

.dropdownmenu select {
	border: 0;
	color: #EEE;
	background: transparent;
	font-size: 20px;
	font-weight: bold;
	padding: 5px 30px 7px 0px;
	width: 100%;
	*width: 378px;
	*background: #58B14C;
	-webkit-appearance: none;
	-moz-appearance:none;
}

.nav-main > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-main > ul > li {
	float:left;
}

.nav-item {
	display: inline-block;
}

.nav-content{
	position:absolute;
	top:50px;
	overflow:hidden;
	background-color: black;	
	color: white;
}

/* -------------------- Rounded Corners */
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   
  
	font-size: 15px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	
	height: 35px;
	padding: 0px 5px 5px 5px;
	border: 0;
	margin: 10px;
	
	
	box-shadow: rgba(0, 0, 0, 0.5) 0 2px 1px;
  
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }
.gray	{ background-color:#666666; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
